@import "tailwindcss";
@tailwind utilities;

html,
body {
  @apply min-w-screen font-sans m-0 min-h-screen text-gray-700;
  background: radial-gradient(
    circle,
    rgba(237, 214, 145, 0.7) 21%,
    rgba(253, 252, 248, 0.6) 33%,
    rgba(247, 241, 224, 1) 100%
  );  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
@apply relative 
}

legend {
  font-weight:bold; letter-spacing: 1px; color:#4fa091

}
button {
  @apply cursor-pointer
}
.chartHeader {
  @apply sm:text-5xl text-3xl tracking-widest font-bold text-[#e89b53] font-[Dancing_Script] text-start ml-[4rem] sm:mt-0 mt-10
}


h3 {
  @apply tracking-widest font-semibold
}
/* text-[#ba7e47] */
/* Input Felder */
input[type="text"],
input[type="date"],
input[type="time"] {
  @apply w-full px-2 py-1 text-xs sm:text-base mb-1 border border-[#e6c155] bg-white/80 rounded-md sm:rounded-xl text-[darkGrey] flex items-center justify-center;
}

input:hover {
  border-color: #e89b53;
}
 fieldset {
  @apply flex flex-col sm:py-9 sm:flex-row justify-center h-fit gap-10 p-3 sm:p-6 text-gray-500}

form {
  @apply flex w-fit h-auto relative sm:flex-row sm:gap-10 gap-3 items-center justify-center sm:bg-white/30 backdrop-blur-md p-3 sm:p-6 rounded-xl shadow-lg mb-40}


.btnEffect {
   @apply active:scale-97 bg-[#ebc155cc] text-white border-none rounded-sm sm:rounded-md cursor-pointer transition-colors text-sm sm:text-xl duration-300 hover:bg-[#e89b53] w-fit sm:px-5 py-2 px-2 
}
.gridContainer {
  @apply border-e border-b flex items-center justify-center border-gray-300
}
label {
  @apply sm:text-base text-sm
}

/* SVG Data Attributes */
[data-name="square"],
[data-name="opposition"] {
  stroke: #ce8063;
  stroke-width: 2px;
}

[data-name="trine"] {
  stroke: #4fa091;
  stroke-width: 2px;
}

[data-name="sextile"] {
  stroke: #afc8e7;
  stroke-width: 2px;
}
[data-name="quincunx"] {
  stroke: #c4a484;
  stroke-width: 1px;
  stroke-dasharray: 5 3;
}

[data-name="semiSextile"] {
  stroke: #c4a484;
  stroke-width: 2px;
  /* stroke-dasharray: 5 2; */
}

legend {
  @apply font-semibold sm:text-base text-sm
}
th, td {
  @apply border border-black p-2 text-center w-4 h-4 box-border;
}
.btnGreen {
  @apply  border-none rounded-sm sm:rounded-md cursor-pointer
          transition-all duration-300 mb-1 tracking-widest hover:bg-[#607f6a] hover:text-white 
}
td.empty {
  border: none;
}

.no-border-table td,
.no-border-table th {
  @apply border-0 p-2 text-center w-4 h-4 box-border;
}
